<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Scribbler</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    
    
    

  

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <script src="~/Scripts/ckeditor/ckeditor_basic.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-pencil-square fa-2x" style="margin-top: 7px;"></i>
                @Html.ActionLink("Scribbler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Notes", "Index", "Note")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="simple-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; @DateTime.Now.Year - Scribbler All Rights Reserved</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons" style="padding-left: 17%;">
                            <li>
                                <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/addemaree/ElevenNote2.0-Final"><i class="fa fa-github-alt fa-3x"></i></a>
                            </li>
                        </ul>
                        <p style="margin-top: 20px; padding-left: 12%;"><a href="https://github.com/addemaree" target="_blank">Powered by Adam Demaree</a></p>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
